.profile{
  display: flex;
  justify-content: center;
  
}
.profile-box{
  margin-left: 240px; /* Deja espacio para la sidebar */
  width: 100%;
}
.profile-info{
  display: flex;
  width: 100%;
}

span{
  align-items: center;
  font-size: 15px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.profile-header {
    display: flex;
    text-align: left;
    margin: 0px;
  }
  
  .profile-img img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-right: 0px;
    border: 1px solid black;
  }
 .profile-username{
  display: flex;
  text-align: left;
  margin-left: 85px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
 } 
  .profile-stats {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .profile-bio{
    margin-left: 100px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .profile-posts {
    display: flex;
    flex-wrap: wrap;
  }
  
  .profile-posts img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
  }
  .profile-settings{
    display: flex;
    margin: 10px;
  }

  .button{
    border-radius: 4px;
    background-color:rgb(237, 237, 237);
    color: rgb(0, 0, 0);
    height: 25px;
    width: 100px;
    border: 0;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .button:hover{
    border-radius: 4px;
    background-color: rgb(187, 187, 187);;
    color: rgb(0, 0, 0);
    height: 25px;
    width: 100px;
    border: 0;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
  }


  .buttonadd{
    border-radius: 4px;
    background-color:rgb(237, 237, 237);
    color: rgb(0, 0, 0);
    height: 25px;
    width: 120px;
    border: 0;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
  }
  
  
  .buttonadd:hover{
    border-radius: 4px;
    background-color: rgb(187, 187, 187);;
    color: rgb(0, 0, 0);
    height: 25px;
    width: 120px;
    border: 0;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
  }
  .add-box{
    width:200px;
  }