*{
  box-sizing: border-box;
}

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250,250,250);
}

.Instagram-logo{
  width: 175px;
  height: 75px;
  margin: 15px 0;
}
.fb-logo{
  width: 15px;
  height: 15px;
  margin: 30px 0;
}
.GooglePlay-logo{
  width: 136px;
  height: 40px;
  margin-right: 5px;
}
.Microsoft-logo{
width: 136px;
  height: 40px;
  margin-left: 5px;
}

.box-1{
  height: 400px;
  width: 350px;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(255,255,255);
}
.box-2{
  height: 63px;
  width: 350px;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(255,255,255);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
}

input{
  background-color: rgb(250,250,250);
  font-weight: 400;
  line-height: 18px;
  font-size: 13px;
  padding: 9px 0 7px 8px;
  height: 40px;
  width: 260px;
  border: 1px solid rgb(219, 219, 219);
  outline: none;
  margin: 5px 0;
}
.login-button{
  border-radius: 4px;
  background-color:rgb(148, 206, 245);
  color: rgb(255,255,255);
  height: 30px;
  width: 268px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.login-button:hover{
  border-radius: 4px;
  background-color: rgba(0, 149, 246, 1);;
  color: rgb(255,255,255);
  height: 30px;
  width: 268px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}


.lines-box{
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10px;
}
.line-1{
 
 width: 106px;
 height: 1px;
 background-color: #dbdbdb;
 margin-right: 10px;
 
}
.line-2{
 
  width: 106px;
  height: 1px;
  background-color: #dbdbdb;
  margin-left: 10px;
 }

.fb-box{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  height: 50px;
}

.fb-link{
  color: #385185;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.forgotten-password-box{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20px;
}
.forgotten-password-link{
  color: #385185;
  font-size: 13px;
  cursor: pointer;
}
.sign-up-span{
  color: rgba(0, 149, 246, 1);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;

}


/* Feed */
.feed{
  display: flex;
}
.left-box{
  width: 200px;
  height: 100vh;
  margin: 0;
  border-right: 1px solid rgb(219, 219, 219);  
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  flex-direction: row;
}
.home-button{
  text-align: left;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: white;
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.home-img{
  text-align: left;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: white;
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.home-button:hover{
  text-align: left;
  border-radius: 4px;
  background-color: rgb(239, 240, 241);;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.notificaciones-button{
  text-align: left;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: white;
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.notificaciones-button:hover{
  text-align: left;
  border-radius: 4px;
  background-color: rgb(239, 240, 241);;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.create-button{
  text-align: left;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: white;
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.create-button:hover{
  text-align: left;
  border-radius: 4px;
  background-color: rgb(239, 240, 241);;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.profile-button{
  text-align: left;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: white;
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.profile-button:hover{
  text-align: left;
  border-radius: 4px;
  background-color: rgb(239, 240, 241);;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 125px;
  border: 0;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.Instagram-logo-feed{
  width: 100px;
  height: 50px;
}


/* Edit Profile */
.container-edit{
   display: flex;
   background-color: rgb(250,250,250);  
}
.edit-container{
  display: flex;
  align-items: center;
  justify-content: top;
  text-align: left;
  flex-direction: column;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250,250,250);
}
.title-box{
  text-align: left;
  align-items: left;
  justify-content: left;

}
.title-edit{
  width: 100%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.box-photoedit{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 30%;
  align-items: center;
  justify-content: left;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(237, 237, 237);;
}

.profileedit-img img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 15px;
}
.edit-username{
display: flex;
text-align: left;
margin-top: 0px;
margin-left: 20px;
margin-right: 210px;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
} 

.button-photoedit{
  border-radius: 4px;
  background-color:rgb(148, 206, 245);
  color: rgb(255,255,255);
  height: 25px;
  width: 100px;
  border: 0;
  padding: 5px 9px;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 13px;
}

.button-photoedit:hover{
  border-radius: 4px;
  background-color: rgba(0, 149, 246, 1);;
  color: rgb(255,255,255);
  height: 25px;
  width: 100px;
  border: 0;
  padding: 5px 9px;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 13px;
}